@model List<Subscriber>

@{
    ViewBag.Title = "BroadcastBot - Home";
}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var subscriber in Model)
    {
        <tr>
            <th scope="row">@(Model.IndexOf(subscriber) + 1)</th>
            <td>@subscriber.Username</td>
            <td>@subscriber.FirstName</td>
            <td>@subscriber.LastName</td>
        </tr>
    }
    </tbody>
</table>

<hr/>

<fieldset>
    <legend>Send messagge to @Request.QueryString["botid"]</legend>
    @using (Html.BeginForm("SendMessage", "Home"))
    {
        <input type="hidden" name="BotId" value="@Request.QueryString["botid"]" />
        <div class="form-group">
            <label for="Message">Message</label>
            <textarea class="form-control" id="Message" name="Message" aria-describedby="MessageHelp" placeholder="Enter Message"></textarea>
            <small id="MessageHelp" class="form-text text-muted">Enter Message to send to all users.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    }
</fieldset>