@using BotMakerPlatform.Web;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bot Maker Platform</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" href="~/icon.png" type="image/png">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Bot Maker Platform", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>Hello, @User.Identity.Name - <a href="@Url.Action("Logout", "Account", new { area = "" })">Logout</a></li>
                    }
                    else
                    {
                        <li>Welcome, <a href="@Url.Action("Login", "Account", new { area = "" })">Login</a></li>
                    }
                    <li>
                        @if (Configuration.IsDebug)
                        {
                            <a href="//localhost:5852/">Simulator</a> @:-
                        }
                        <a href="@Url.Action("Logs", "Home", new {area = ""})">Logs</a>
                        @if (!string.IsNullOrEmpty(ViewBag.WebhookUrl))
                        {
                            @: - <a href="@Url.Action("WebhookInfo", "Home")">WebhookInfo</a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @if (!string.IsNullOrEmpty(TempData["Message"]?.ToString()))
        {
            <div class="alert alert-success" role="alert">
                @TempData["Message"]
            </div>
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Bot Maker Platform</p>
        </footer>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>